/* You can add global styles to this file, and also import other style files */

  :host {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .content {
    display: flex;
    margin: 32px auto;
    max-width: 1200px;
    flex-direction: column;
  }


  .image-background{

    background-size:cover;

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://images-na.ssl-images-amazon.com/images/I/71ovddpPl2L._SL1157_.jpg');
    background-position:50% 0%;
  }
  img.center {
    display: block;
    margin: 0 auto;
}

  .btn {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
  }
  .divider {
    margin-top: 0px;
    background-color: #e4002b;
    height:5px;
    border-width: 0;
  }
  .divider-description {
    background-color: #a7a8aa;
    height:2px;
    border-width: 0;
  }


  .header-text {
    font-size:20px;
    margin: 20px 20px;
  }
  .spacer {
    flex: 1;
  }
/* tool bars **/
  .toolbar {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #686b6b;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }



/* svg icons **/
  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .svg-icon {
    width:  24px;
    height:  24px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }


  .card-container {
    display:flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 100px;
  }
  .header-sub {
    display: flex;
    margin-top:10px;
    text-align: left;
    align-items: center;
    font-weight: 600;
  }

  .header-stats {
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: 16px;
    font-weight: 600;
    border-width: 0;
  }
  .header-tag{
    border-radius:30px 30px 0 0;
    height: 100%;
    width: 200px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    background-color: #e4002b;
  }

  .card-container-sub {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .card {

    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  .parent {
    position: relative;
  }

  .corner {
    position: absolute;
    margin-right: -26px; 
    margin-top: -16px; 
    top: 0px;
    right: 10px;
    width: 0;
    height: 0;
    border:solid;
    border-width: 0 45px 45px 0px;
    border-color: transparent #e4002b transparent;
    }

  .svg-icon-corner {
    position: absolute;
    margin-right: -20px; 
    margin-top: -16px; 
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    
    }
  .card.card-game {
    height: 240px;
    width: 200px;
    border-radius:5px;
  }
  .card.card-game:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }


  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

 /*a href link**/
  a,
  a:visited,
  a:hover {
    color: #686868;
    text-decoration: none;
  }

  a:hover {
    color: #686868;
  }



  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }


  .github-star-badge {
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#e4002b,#e4002b 90%);
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 0px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  mat-sidenav-container {
    height: 92%;
  }
  
  mat-sidenav, mat-sidenav-content {
    padding: 0px;
    background-color: #ffffff;
  }
  
  mat-sidenav {
    background-image: linear-gradient(-180deg,#e4002b,#e4002b 90%);
    color: #e4002b;
    width: 200px;
  }


html, body { height: 100%; }


