<div class="header-stats">
                <div class="header-tag">
                        <div class ="header-text">Stats</div>
                </div>
     </div>
     <hr class="divider">


 <div class = "card-container-stats">
        <div class ="card-canvas">
                <canvas id="lineChart" width="400" height="400" style="border:1px solid #000000;"></canvas>
        </div>
        <div class ="card-canvas">
                <canvas id="barChart" width="400" height="400" style="border:1px solid #000000;"></canvas>
        </div>
        <div class="card-report"  >
                <div class="text-dataname">
                        New Players
                
                </div> 
                <div class="text-number">
                        15
                        
                </div>
                <div class="text-comparison">
                        <div class = "text-comparison red">+ 100%</div>than last week
                
                </div> 

        </div> 

        <div class="card-report"  >
                        <div class="text-dataname">Active Players</div> 
                        <div class="text-number">
                                25
                        </div>
                        <div class="text-comparison">
                                <div class = "text-comparison green">- 30%</div> than last week
                        
                        </div> 
        
                </div> 
        <div class="card-report"  >
                        <div class="text-dataname">
                                Trophies Earned
                        
                        </div> 
                        <div class="text-number">
                                68
                        </div>
                        <div class="text-comparison">
                                <div class = "text-comparison green">- 21%</div> than last week
                        </div> 
        
                </div> 
 </div>
        